<link rel="stylesheet" href="css/clientes.css">

<br><h1 align="center">Citas programadas</h1>
<br>
<% @schedules.each do |schedule| %>
<div align="center">
	<div class="panel panel-default">
		<div class="panel-heading"><h3 class="panel-title"><small>Cita agendada</small><span class="pull-right">Cancelar</span></span></h3></div>
		<div class="panel-body">
			Tiene cita el dia <%= schedule.fecha %> a las <%= schedule.hora_inicio.hour %>:<%= schedule.hora_inicio.min %> con el estilista <%= Person.find_by(id: Stylist.find_by(id: schedule.stylist_id).person_id).nombre %>
		</div>
	</div>

</div>
<% end %>