<link rel="stylesheet" type="text/css" href="css/clientes/clientes_estilistas.css">
<br>
<h1 align="center">Estilistas</h1>
<div class="img"><a target="_blank"><img src="images/estilista3.jpg"></a>
	<div class="information">
		<br>
		<b>Nombre:</b>
		Andrés Betancur
		<br>
		<br>
		<b>Edad:</b>
		22 años
		<br>
		<br>
		<b>Teléfono:</b>
		273-83-85
		<br>
		<br>
		<b>Trabaja en:</b>
		Barber Shop
		<br>
		<br>
		<b>Calificación:</b>
		★★☆☆☆
		<br>
		<br>
		<a href="">Experiencias pasadas</a>
		<br>
		<br>
		<br>
		<br>
		<div><a href="">Ver más</a></div>
	</div>
	<div class="listacortes"><b>Cortes:</b></div>
	<div class="listacortes">
		<div><img src="images/corte1.jpg"></div>
		<div><img src="images/corte2.jpg"></div>
	</div>
</div>

<div class="img"><a target="_blank"><img src="images/estilista4.jpg"></a>
	<div class="information">
		<br>
		<b>Nombre:</b>
		Felipe Roldán
		<br>
		<br>
		<b>Edad:</b>
		26 años
		<br>
		<br>
		<b>Teléfono:</b>
		283-63-40
		<br>
		<br>
		<b>Trabaja en:</b>
		Amsterdan
		<br>
		<br>
		<b>Calificación:</b>
		★★★☆☆
		<br>
		<br>
		<a href="">Experiencias pasadas</a>
		<br>
		<br>
		<br>
		<br>
		<div><a href="">Ver más</a></div>
	</div>
	<div class="listacortes"><b>Cortes:</b></div>
	<div class="listacortes">
		<div><img src="images/corte3.jpg"></div>
		<div><img src="images/corte4.jpg"></div>
	</div>
</div>









<div class="img"><a target="_blank"><img src="images/estilista2.jpg"></a>
	<div class="information">
		<br>
		<b>Nombre:</b>
		Felipe Roldán
		<br>
		<br>
		<b>Edad:</b>
		26 años
		<br>
		<br>
		<b>Teléfono:</b>
		283-63-40
		<br>
		<br>
		<b>Trabaja en:</b>
		Amsterdan
		<br>
		<br>
		<b>Calificación:</b>
		★★★★★
		<br>
		<br>
		<a href="">Experiencias pasadas</a>
		<br>
		<br>
		<br>
		<br>
		<div><a href="">Ver más</a></div>
	</div>
	<div class="listacortes"><b>Cortes:</b></div>
	<div class="listacortes">
		<div><img src="images/corte5.jpg"></div>
		<div><img src="images/corte6.jpg"></div>
	</div>
</div>
<div class="img"><a target="_blank"><img src="images/estilista1.jpg"></a>
	<div class="information">
		<br>
		<b>Nombre:</b>
		Felipe Roldán
		<br>
		<br>
		<b>Edad:</b>
		26 años
		<br>
		<br>
		<b>Teléfono:</b>
		283-63-40
		<br>
		<br>
		<b>Trabaja en:</b>
		Amsterdan
		<br>
		<br>
		<b>Calificación:</b>
		★★★★☆
		<br>
		<br>
		<a href="">Experiencias pasadas</a>
		<br>
		<br>
		<br>
		<br>
		<div><a href="">Ver más</a></div>
	</div>
	<div class="listacortes"><b>Cortes:</b></div>
	<div class="listacortes">
		<div><img src="images/cut2.jpg"></div>
		<div><img src="images/corte1.jpg"></div>
	</div>
</div>

