<link rel="stylesheet" href="css/clientes.css">
<br><h1 align="center">Estilistas</h1><br>

<div align="center">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div><a target="_blank"><img class="estilista" src="images/estilista3.jpg"></a></div>
        <br>
        <b>Nombre:</b>
        Andrés Betancur
        <br>
        <br>
        <b>Edad:</b>
        22 años
        <br>
        <br>
        <b>Teléfono:</b>
        273-83-85
        <br>
        <br>
        <b>Trabaja en:</b>
        Barber Shop
        <br>
        <br>
        <b>Calificación:</b>
        ★★★★★
        <br>
        <br>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cortes">Cortes</button>
        <br>
        <br>
      </div>
      <div class="col-sm-4">
        <div><a target="_blank"><img class="imagen2" src="images/estilista2.jpg"></a></div>
        <br>
        <b>Nombre:</b>
        Felipe Roldán
        <br>
        <br>
        <b>Edad:</b>
        26 años
        <br>
        <br>
        <b>Teléfono:</b>
        283-63-40
        <br>
        <br>
        <b>Trabaja en:</b>
        Amsterdan
        <br>
        <br>
        <b>Calificación:</b>
        ★★★★★
        <br>
        <br>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cortes">Cortes</button>
        <br>
        <br>
      </div>
      <div class="col-sm-4">
       <div class="img"><a target="_blank"><img class="estilista" src="images/estilista4.jpg"></a></div>
       <br>
       <b>Nombre:</b>
       Felipe Roldán
       <br>
       <br>
       <b>Edad:</b>
       26 años
       <br>
       <br>
       <b>Teléfono:</b>
       283-63-40
       <br>
       <br>
       <b>Trabaja en:</b>
       Amsterdan
       <br>
       <br>
       <b>Calificación:</b>
       ★★★★★
       <br>
       <br>
       <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cortes">Cortes</button>
       <br>
       <br>
     </div>
   </div>
 </div>
</div>


<!-- Modal para cortes -->
<div class="container text-center">
  <div class="modal fade" id="cortes" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 align="left" class="modal-title">Cortes</h4>
        </div>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
             <img class="img-responsive"  alt="...">
             <div class="carousel-caption">
              Corte 1
            </div>
          </div>
          <div class="item">
            <img class="img-responsive" src="images/cut1.jpg" alt="...">
            <div class="carousel-caption">
              Corte 2
            </div>
          </div>
          <div class="item">
            <img class="img-responsive" src="images/cut3.jpg" alt="...">
            <div class="carousel-caption">
              Corte 3
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
</div>
</div>