<link rel="stylesheet" href="css/clientes.css">
<link rel="stylesheet" href="css/voz.css">
<script type="text/javascript" src="scripts/voz.js"></script>
<br><h1 align="center">Experiencias</h1><br>
<% @experiencias.each do |experiencia| %>
<div align="center">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div><a target="_blank"><img class="imagen1" src="images/corte1.jpg"></a></div>
        <br>
        <b>Fecha:</b>
        <%= Time.at(experiencia.created_at).to_date %>
        <br>
        <br>
        <b>Autor:</b>
        <%= Person.find_by(id: session[:persona_id]).nombre %>
        <br>
        <br>
        <b>Relato:</b>
        <%= (experiencia.comentario).slice(0,15) + "..." %>
        <br>
        <br>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#leerMas">Leer más</button><br><br>
      </div>
      </div>
    </div>
    </div>
    <% end %>
<br><div style="padding-left: 45%;" class="boton">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Nueva experiencia</button></div>


<!-- Modal Nueva experiencia -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Nueva experiencia</h4>
      </div>
      
      <%= render "exp" %>
      
    </div>
  </div>
</div>

<!-- Modal Leer más -->
<div class="modal fade" id="leerMas" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Experiencia</h4>
      </div>
      <div class="modal-body">
       <div><a target="_blank"><img class="imgmodal" src="images/corte2.jpg"></a></div>
       <br>
       <b>Fecha:</b>
       18/10/2016
       <br>
       <br>
       <b>Autor:</b>
       Jorge Vásquez
       <br>
       <br>
       <b>Relato:</b>
       El autor lamenta la pérdida del glamour en el panorama cinematográfico actual, como consecuencia de la repetición de estereotipos vulgares que imitan, sin imaginación ni encanto, los esquemas de la vida real.
       <br>
       <br>
     </div>
     <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
    </div>
  </div>

</div>
</div>

