<link rel="stylesheet" type="text/css" href="../css/mainest.css">
<br>
<h1 align="center">¡Bienvenido <%= @nombre%>!</h1>
<div class="notifications">
  <div class="toggle"></div>
  <div class="messages">
    <a href="#" class="message">Cita confirmada</a>
    <a href="#" class="message">Cita cancelada</a>
  </div>
</div>