<!doctype html>
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="http://static02.hongkiat.com/logo/hkdc/favicon.ico">
	<link rel="stylesheet" type="text/css" media="all" href="css/styleForm.css">
	<link rel="stylesheet" type="text/css" media="all" href="css/respForm.css">
</head>

<body>

	<section id="container">
		<h2>Mis Citas</h2>
		<form name="hongkiat" id="hongkiat-form" method="post" action="#">
			<div id="wrapping" class="clearfix" align="center">
				<section id="aligned">
					<input type="text" name="name" id="name" placeholder="Fecha" autocomplete="off" tabindex="1" class="txtinput">

					<input type="text" name="name" id="name" placeholder="Horario" autocomplete="off" tabindex="1" class="txtinput">

					<input type="text" name="name" id="name" placeholder="Barbería" autocomplete="off" tabindex="1" class="txtinput">

					<input type="text" name="name" id="name" placeholder="Estilista" autocomplete="off" tabindex="1" class="txtinput">

					<input type="text" name="name" id="name" placeholder="Lugar" autocomplete="off" tabindex="1" class="txtinput">
				</section>
				<br>
				<br>
				<br>
				<table>
					<tr>
						<th>Fecha</th>
						<th>Horario</th>
						<th>Barbería</th>
						<th>Estilista</th>
						<th>Lugar</th>
					</tr>
					<tr>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
					</tr>
					<tr>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
					</tr>
					<tr>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
					</tr>
					<tr>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td> </td>
					</tr>					
				</table>
			</div>
			<br>
			<br>
			<br>
			<section id="buttons">
				<input type="reset" onclick="myAlert2()" name="reset" id="resetbtn" class="resetbtn" value="Cancelar">
				<input type="reset" onclick="myAlert1()" name="submit" id="submitbtn" class="submitbtn" tabindex="7" value="Agendar">
				<br style="clear:both;">
			</section>
		</form>
	</section>
	<script>
		function myAlert1() {
			swal("Bien", "Su cita se ha guardado con éxito!", "success");
		}
		function myAlert2() {
			swal({   title: "Está seguro?",   text: "Deseas cancelar la cita?",   type: "warning",   showCancelButton: true,   confirmButtonColor: "#DD6B55",   confirmButtonText: "Aceptar",   closeOnConfirm: false }, function(){   swal("Cancelada", "Su cita ha sido cancelada con éxito.", "success"); });
		}
	</script>
</body>
</html>