<link rel="stylesheet" type="text/css" href="../css/clientes/misCitas.css">
<link rel="stylesheet" type="text/css" href="../css/buttons.css"/>
<br>
<h1 align="center">Pedir cita</h1>
<div align="center"></div>
<form class="form-style-9">
<ul>
<label for="fecha">Fecha</label>
<li>
    <input type="date" name="fecha" class="field-style field-split align-full" placeholder="Fecha" />
</li>
<label for="hora">Hora</label>
<li>
	<input type="text" name="hora" class="field-style field-split align-full" placeholder="Hora" />
</li>
<li>
<br>
<div align="center">
<%= link_to "Buscar", listaCitas_path, :class => "myButton" %>
</div>
</li>
</ul>
</form>
