<!doctype html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" media="all" href="css/clientes/styleForm.css">
	<link rel="stylesheet" type="text/css" media="all" href="css/clientes/respForm.css">
</head>

<body>

	<section id="container">
		<h2>Perfil</h2>
		<form name="hongkiat" id="hongkiat-form" method="post" action="#">
			<div id="wrapping" class="clearfix" align="center">
				<section id="aligned">
					<input type="text" name="name" id="name" placeholder="Nombre" autocomplete="off" tabindex="1" class="txtinput">

					<input type="text" name="name" id="name" placeholder="Apellidos" autocomplete="off" tabindex="1" class="txtinput">

					<input type="text" name="name" id="name" placeholder="Tipo discapacidad" autocomplete="off" tabindex="1" class="txtinput">

					<input type="text" name="name" id="name" placeholder="Dirección residencia" autocomplete="off" tabindex="1" class="txtinput">
				</section>
				<br>
				<br>
				<br>
			<section id="buttons">
				<input type="submit" name="submit" id="perfilbtn" class="perfilbtn" tabindex="7" value="Actualizar datos">
				<br style="clear:both;">
			</section>
		</form>
	</section>

</body>
</html>