<link rel="stylesheet" type="text/css" href="../css/welcome/contact.css">
<link rel="stylesheet" type="text/css" href="../css/buttons.css"/>
<link rel="stylesheet" href="css/voz.css">
<script type="text/javascript" src="scripts/voz.js"></script>
<h1 align="center">¡Únete!</h1>
<h4 align="center">Si quieres ser un Estilista de Corazón envía tus datos.</h4>
<div class="form-style-9">
	<ul>
		<li>
			<input id="inputContacto0" type="text" name="field1" class="field-style field-split align-left" placeholder="Nombre" onclick="procesar(0)"/>
			<input id="inputContacto1" type="text" name="field2" class="field-style field-split align-right" placeholder="Celular" onclick="procesar(1)"/>

		</li>
		<li>
			<input id="inputContacto2" type="text" name="field3" class="field-style field-split align-left" placeholder="Correo electrónico" onclick="procesar(2)"/>
			<input id="inputContacto3" type="text" name="field4" class="field-style field-split align-right" placeholder="Sitio web" onclick="procesar(3)"/>
		</li>
		<li>
			<input id="inputContacto4" type="text" name="field3" class="field-style field-full align-none" placeholder="Asunto" onclick="procesar(4)"/>
		</li>
		<li>
			<textarea type="text" id="inputContacto5" name="field5" class="field-style" placeholder="Mensaje" onclick="procesar(5)"></textarea>
		</li>
		<li>
			<div align="center"><input type="submit" value="Enviar" class="myButton"/></div>
		</li>
	</ul>
</div >
