<link rel="stylesheet" type="text/css" href="../css/welcome/contact.css">
<link rel="stylesheet" type="text/css" href="../css/buttons.css"/>
<h1 align="center">¡Únete!</h1>
<h4 align="center">Si quieres ser un Estilista de Corazón envía tus datos.</h4>
<form class="form-style-9">
<ul>
<li>
    <input type="text" name="nombre" class="field-style field-split align-left" placeholder="Nombre" />
    <input type="text" name="celular" class="field-style field-split align-right" placeholder="Celular" />

</li>
<li>
    <input type="text" name="correo_electronico" class="field-style field-split align-left" placeholder="Correo electrónico" />
    <input type="url" name="sitio_web" class="field-style field-split align-right" placeholder="Sitio web" />
</li>
<li>
<input type="text" name="asunto" class="field-style field-full align-none" placeholder="Asunto" />
</li>
<li>
<textarea name="mensaje" class="field-style" placeholder="Mensaje"></textarea>
</li>
<li>
<div align="center"><input type="submit" value="Enviar" class="myButton"/></div>
</li>
</ul>
</form>