<link rel="stylesheet" type="text/css" href="../css/welcome/contact.css">
<h1 align="center">¡Únete!</h1>
<h4 align="center">Si quieres ser un Estilista de Corazón envía tus datos.</h4>
<form class="form-style-9">
<ul>
<li>
    <input type="text" name="field1" class="field-style field-split align-left" placeholder="Nombre" />
    <input type="email" name="field2" class="field-style field-split align-right" placeholder="Correo electrónico" />

</li>
<li>
    <input type="text" name="field3" class="field-style field-split align-left" placeholder="Celular" />
    <input type="url" name="field4" class="field-style field-split align-right" placeholder="Sitio web" />
</li>
<li>
<input type="text" name="field3" class="field-style field-full align-none" placeholder="Asunto" />
</li>
<li>
<textarea name="field5" class="field-style" placeholder="Mensaje"></textarea>
</li>
<li>
<input type="submit" value="Enviar" />
</li>
</ul>
</form>
