<link rel="stylesheet" type="text/css" href="css/botones.css"/>
<link rel="stylesheet" type="text/css" href="css/welcome/login.css"/>
<h1 align="center">¡Ingresa!</h1>
<h4 align="center">Observa las novedades.</h4>
<%= form_tag '/entrar', class: 'form-style-9' do %>
<ul>
	<label for="Cedula">Identificación</label>
	<li>
		<input type="text" id="cedula" name="cedula" class="field-style field-full align-none" placeholder="Identificación" required/>
	</li>
	<label for="Nombre">Nombre</label>
	<li>
		<input type="text" id="nombre" name="nombre" class="field-style field-full align-none" placeholder="Nombre" />
	</li>
	<li>
		<br>
		<div style="padding-left: 23%;" class="offset-sm-2 col-sm-10">
		<%= link_to "Registrarse", registro_path, :class => "btn btn-primary"  %>
		<button type="submit" value="Entrar" class="btn btn-primary">Entrar</button>
		</div>
	</li>
</ul>
<% end %>	
