<link rel="stylesheet" type="text/css" href="css/botones.css"/>
<link rel="stylesheet" type="text/css" href="css/welcome/login.css"/>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>
  	.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}

.close {
  float: right;
  font-size: (@font-size-base * 1.5);
  font-weight: @close-font-weight;
  line-height: 1;
  color: @close-color;
  text-shadow: @close-text-shadow;
  .opacity(.2);

  &:hover,
  &:focus {
    color: @close-color;
    text-decoration: none;
    cursor: pointer;
    .opacity(.5);
  }

  button& {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
  }
}


  </style>

<h1 align="center">¡Ingresa!</h1>
<h4 align="center">Observa las novedades.</h4>
<%= form_tag '/entrar', class: 'form-style-9' do %>
<% if flash[:notice] %>

	<div class="alert alert-danger alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    <strong><%= flash[:notice] %> </strong>
    </div>

<% end %>

<ul>
	<label for="Cedula">Identificación</label>
	<li>
		<input type="text" id="cedula" name="cedula" class="field-style field-full align-none" placeholder="Identificación" required/>
	</li>
	<label for="Nombre">Nombre</label>
	<li>
		<input type="text" id="nombre" name="nombre" class="field-style field-full align-none" placeholder="Nombre" />
	</li>
	<li>
		<br>
		<div style="padding-left: 23%;" class="offset-sm-2 col-sm-10">
		<%= link_to "Registrarse", registro_path, :class => "btn btn-primary"  %>
		<button type="submit" value="Entrar" class="btn btn-primary">Entrar</button>
		</div>
	</li>
</ul>
<% end %>	
