<style>
img {
  border: 0;
}
img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  img {
  vertical-align: middle;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.img-circle {
  border-radius: 50%;
}
h4{
  width: 90%;
  text-align: left;
}
</style> 
<h1 align="center">Paralímpicos que ven con la mente</h1>
<div align="center">
<h4>	
Uno de los rincones más interesantes de una Olimpiada de ajedrez es el de los ciegos, que juegan en tableros distintos. Es el deporte más igualitario y el ideal para ellos, ya sean de nacimiento o sobrevenidos. Algunos llegan a un alto nivel y forman la selección mundial que estos días compite en Bakú (Azerbaiyán), donde también hay equipos de discapacitados y sordos.
</h4>
<div align="center"><img class="img-responsive" src="images/noticia1.jpg" width="730" height="460"></div>
<text align="center"><i>Cortesía Periódico El Tiempo.</i></h4><br></div>

<h1 align="center">800 kilómetros de senderos en silla de ruedas</h1>
<div align="center">
<h4>	
Un joven con parálisis cerebral hace el Camino de Santiago francés para promover la accesibilidad.
</h4>
<div align="center"><img class="img-responsive" src="images/noticia2.jpg" width="730" height="420"></div>
<text align="center"><i>Cortesía Periódico El Tiempo.</i></h4></div><br>