<link rel="stylesheet" type="text/css" href="../css/botones.css">
<link rel="stylesheet" type="text/css" href="../css/welcome/contact.css">
<link rel="stylesheet" href="css/voz.css">
<script type="text/javascript" src="scripts/voz.js"></script>
<%= form_tag '/regclientes', class: 'form-style-9' do %>

<ul>
  <label for="Cedula">Cédula</label>
  <li>
    <input type="text" id="inputRegCliente24" name="cedula" class="field-style field-full align-none" placeholder="Introduce tu número de identificación" onclick="procesar(24)"/>
  </li>
  <label for="Nombre">Nombre</label>
  <li>
    <input type="text" id="inputRegCliente25" name="nombre" class="field-style field-full align-none" placeholder="Introduce tu nombre" required onclick="procesar(25)"/>
  </li>
  <label for="Apellido">Apellido</label>
  <li>
    <input type="text" id="inputRegCliente26" name="apellido" class="field-style field-full align-none" placeholder="Introduce tu apellido" onclick="procesar(26)"/>
  </li>
  <label for="Tipo">Tipo de discapacidad</label>
  <li>
    <select id="tipo" name="tipo" class="field-style field-full align-none">
      <option value=""></option>
      <option value="Fisica">Física</option>
      <option value="Psicosocial">Psicosocial</option>
      <option value="Cognitiva">Cognitiva</option>
      <option value="Sensorial">Sensorial</option>
    </select>
  </li>
  <label for="Nacimiento">Fecha de nacimiento</label>
  <li>
    <input type="date" id="nacimiento" name="nacimiento" class="field-style field-full align-none" placeholder="Selecciona tu fecha de nacimiento" />
  </li>
  <label for="Fijo">Teléfono fijo</label>
  <li>
    <input type="text" id="inputRegCliente30" name="fijo" class="field-style field-full align-none" placeholder="Introduce tu número fijo" onclick="procesar(30)"/>
  </li>
  <label for="Movil">Teléfono móvil</label>
  <li>
    <input type="text" id="movil" name="movil" class="field-style field-full align-none" placeholder="Introduce tu número móvil" />
  </li>
  <li>
    <br>
    <div align="center"><button type="submit" class="btn btn-primary">Enviar</button></div>
  </li>
</ul>
<% end %>
