<%= form_tag '/registrarme', class: 'registro' do %>

<!-- # <h2>Quiero apuntarme</h2>
# <label>Nombre</label>
# <input type="text" name="nombre" >
# <div align="center">
#   <input type="submit" value="Registrarme">
# </div> -->
<% end %>