<link rel="stylesheet" type="text/css" href="../css/welcome/contact.css">
<link rel="stylesheet" type="text/css" href="../css/botones.css">
<%= form_tag '/regestilistas', class: 'form-style-9' do %>
<ul>
  <label for="Cedula">Cédula</label>
  <li>
    <input type="text" id="cedula" name="cedula" class="field-style field-full align-none" placeholder="Introduce tu número de identificación" />
  </li>
  <label for="Nombre">Nombre</label>
  <li>
    <input type="text" id="nombre" name="nombre" class="field-style field-full align-none" placeholder="Introduce tu nombre" required/>
  </li>
  <label for="Apellido">Apellido</label>
  <li>
    <input type="text" id="apellido" name="apellido" class="field-style field-full align-none" placeholder="Introduce tu apellido" />
  </li>
  <label for="Especialidad">Especialidad</label>
  <li>
    <select id="especialidad" name="especialidad" class="field-style field-full align-none">
      <option value=""></option>
      <option value="Barberia">Barbería</option>
      <option value="Peluqueria">Peluquería</option>
    </select>
  </li>
  <label for="Nacimiento">Fecha de nacimiento</label>
  <li>
    <input type="date" id="nacimiento" name="nacimiento" class="field-style field-full align-none" placeholder="Selecciona tu fecha de nacimiento" />
  </li>
  <label for="Fijo">Teléfono fijo</label>
  <li>
    <input type="text" id="fijo" name="fijo" class="field-style field-full align-none" placeholder="Introduce tu número fijo" />
  </li>
  <label for="Movil">Teléfono móvil</label>
  <li>
    <input type="text" id="movil" name="movil" class="field-style field-full align-none" placeholder="Introduce tu número móvil" />
  </li>
  <label for="Correo">Correo electrónico</label>
  <li>
    <input type="email" id="correo" name="correo" class="field-style field-full align-none" placeholder="Introduce tu correo electrónico" />
  </li>
  <li>
    <br>
    <div align="center"><button type="submit" class="btn btn-primary">Enviar</button></div>
  </li>
</ul>

<% end %>