
<div align="center">
	<h1>¿Eres un nuevo cliente o un estilista? </h1>
	<br><br>
  <%= link_to "Cliente", regcliente_path, :class => "btn btn-primary btn-lg active"  %>
  <%= link_to "Estilista", regestilista_path, :class => "btn btn-default btn-lg active" %>
</div>

<br>
<br>
<br>
<br>
<br>

<div class="footer">
  <div class="container">
    <p><span class="glyphicon glyphicon-heart"></span> Cortemos el cabello, no las esperanzas.</p>
  </div>
</div>


