<link rel="stylesheet" type="text/css" href="../css/welcome/sobreNosotros.css">
<style>
.about{
	width: 85%;
	text-align: left;
}
</style>
<div align="center">
<div class="about">
<div id="container">
<div id="contenidom"><img src="images/mision.png" width="150" height="200"></div>
<h1 align="center">Misión</h1>
</div>
<h4>Reunir estilistas profesionales en Medellín que estén dispuestos a brindar servicios de belleza integral (corte, manicure, pedicure, entre otros) y una atención personalizada a personas discapacitadas (con baja visión y/o movilidad reducida) y de la tercera edad con el fin de que ellos puedan sentirse participantes activos de la sociedad y contribuir a su imagen personal.</h4><br><br><br><br><br>

<div align="center" id="container">
<div id="contenidovi"><img src="images/vision.png" width="250" height="240"></div>
<h1 align="center">Visión</h1>
</div>
<h4>Ser una organización reconocida en todo Colombia y ofrecer nuestros servicios en las principales ciudades del país, entre las cuales se encuentran Bogotá y Cali. También, en un año, se pretende llegar a ser más conocidos a través de las redes sociales para de esta forma convocar aún más estilistas que puedan hacer parte de esta iniciativa.</h4><br><br><br><br><br><br>

<div id="container">
<div id="contenidov"><img src="images/valores.png" width="150" height="220"></div>
<h1 align="center">Valores</h1>
<h4>Nuestros profesionales se caracterizan por poseer y fortalecer en su labor diaria los siguientes valores:</h4>
<ul>
<li><h4>Respeto.</h4></li>
<li><h4>Tolerancia.</h4></li>
<li><h4>Paciencia.</h4></li>
<li><h4>Vocación.</h4></li>
<li><h4>Compromiso.</h4></li>
</ul>
</div>
</div>
</div>