<link rel="stylesheet" type="text/css" href="../css/welcome/sobreNosotros.css">

<div id="container">
<div id="contenidom"><img src="images/mision.png" width="150" height="200"></div>
<h1 align="center">Misión</h1>
</div>
<h4>Reunir estilistas profesionales en Medellín que estén dispuestos a brindar servicios de belleza integral (corte, manicure, pedicure, entre otros) y una atención personalizada a personas discapacitadas (con baja visión y/o movilidad reducida) y de la tercera edad con el fin de que ellos puedan sentirse participantes activos de la sociedad y contribuir a su imagen personal.</h4><br><br><br><br><br>

<div align="center" id="container">
<div id="contenidovi"><img src="images/vision.png" width="250" height="240"></div>
<h1 align="center">Visión</h1>
</div>
<h4>Ser una organización reconocida en todo Colombia y ofrecer nuestros servicios en las principales ciudades del país, entre las cuales se encuentran Bogotá y Cali.</h4><br><br><br><br><br><br>

<div id="container">
<div id="contenidov"><img src="images/valores.png" width="150" height="220"></div>
<h1 align="center">Valores</h1>
<h4>Nuestros profesionales se caracterizan por poseer y fortalecer los siguientes valores:</h4><br>
<ul>
<li>Respeto.</li>
<li>Tolerancia.</li>
<li>Paciencia.</li>
<li>Vocación.</li>
<li>Compromiso.</li>
</ul>
</div>
