<style>
img {
  border: 0;
}
img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  img {
  vertical-align: middle;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.img-circle {
  border-radius: 50%;
}
</style>
<div align="center">
<div style="width: 85%; text-align: left;" class="testimonio">
<br>
<div class="container">
<div align="center"><img src="images/persona1.jpg" class="img-responsive" alt="Responsive image">
<h1 align="center">Andrés Ceballos</h1>
</div>
<h4>Hace poco me enteré de esta bella iniciativa y ahora soy miembro activo de ella. Me emociona cuando llego a la casa de un cliente y me recibe con una gran sonrisa, es una hermosa labor la que nosotros como estilistas podemos desempeñar, espero que cada día seamos más los que nos unamos por esta bonita causa.</h4><br><br></div>

<div class="container">
<div align="center"><img src="images/persona2.jpg" class="img-responsive" width="680">
<h1 align="center">Nora Acevedo</h1>
</div>
<h4>Mis hijos no podían llevarme a la peluquería muy seguido, así que debía esperar mucho tiempo para poder arreglarme el cabello. Desde que soy parte de Estilistas de Corazón no tengo que esperar un mes para hacerme mi corte de cabello, puedo ingresar a la página fácilmente y agendar una cita con mi estilista preferido, o intentar algo nuevo mirando el catálogo de otros profesionales. ¡Es lo mejor!</h4><br>
</div>