div.img {
	margin: 5px;
	border: 4px solid #fff;
	float: left;
	width: 600px;
	height: auto;
}

div.img:hover {
	border: 4px solid #777;
}

div.img img {
	width: 40%;
	float: left;
	height: auto;
}

div.listacortes {
	width: 250px;
}

div.img2 img {
	width: 50%;
	height: auto;
}

div.information {
	width: 55%;
	float: right;
	height: auto;
}

div.desc {
	padding: 15px;
	text-align: center;
}