<link rel="stylesheet" type="text/css" href="../css/clientes/misCitas.css">
<link rel="stylesheet" type="text/css" href="../css/buttons.css"/>
<br>
<h1 align="center">Agenda</h1>
<form class="form-style-9">
<ul>
<label for="desde">Desde</label>
<li>
    <input type="date" name="field1" class="field-style field-split align-full" placeholder="Desde" />
</li>
<label for="hasta">Hasta</label>
<li>
	<input type="date" name="field2" class="field-style field-split align-full" placeholder="Hasta" />
</li>
<label for="horain">Hora inicio</label>
<li>
  <input type="time" name="field2" class="field-style field-split align-full" placeholder="Hora inicio" />
</li>
<label for="horafin">Hora fin</label>
<li>
  <input type="time" name="field2" class="field-style field-split align-full" placeholder="Hora fin" />
</li>
<label for="hasta">Lapso</label>
<li>
	<select class="field-style field-split align-full">
  	<option value="20">20 minutos</option>
  	<option value="30">30 minutos</option>
  	<option value="40">40 minutos</option>
  	<option value="50">50 minutos</option>
  	<option value="60">1 hora</option>
	</select>
	<!-- <input type="text" name="field2" class="field-style field-split align-full" placeholder="Lapso" /> -->
</li>
<li>
<br>
<div align="center"><input type="submit" value="Generar" class="myButton"/></div>
</li>
</ul>
</form>


