<link rel="stylesheet" type="text/css" href="../css/buttons.css"/>
<br>
<h1 align="center">Citas</h1><br>
<style>
.table-striped{
  width: 72%;
}
</style>

<div align="center">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Dirección</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Alejandro González</th>
      <td>15-11-16</td>
      <td>1 pm</td>
      <td>Calle 104 E # 34-50</td>
      <td><input type="checkbox"></td>
    </tr>
    <tr>
      <th scope="row">Inés Betancur</th>
      <td>15-11-16</td>
      <td>1:30 pm</td>
      <td>Calle 104 D # 33-50</td>
      <td><input type="checkbox"></td>
    </tr>
    <tr>
      <th scope="row">Héctor Rodríguez</th>
      <td>15-11-16</td>
      <td>2 pm</td>
      <td>Calle 103 A # 20-50</td>
      <td><input type="checkbox"></td>
    </tr>
    <tr>
      <th scope="row">Darío Vélez</th>
      <td>15-11-16</td>
      <td>2:30 pm</td>
      <td>Calle 103 A # 20-53</td>
      <td><input type="checkbox"></td>
    </tr>
  </tbody>
</table><br>
<input type="submit" value="Confirmar" class="myButton"/>
</div>
