<link rel="stylesheet" type="text/css" href="../css/estilistas/cortesest.css">
<br>
<h1 align="center">Cortes</h1>
<div class="img">
	<a target="_blank" href="img_fjords.jpg">
		<img src="images/corte5.jpg" alt="Trolltunga Norway" width="300" height="200">
	</a>
	<div class="desc">Características del corte ...</div>
</div>

<div class="img">
	<a target="_blank" href="img_forest.jpg">
		<img src="images/cut2.jpg" alt="Forest" width="600" height="400">
	</a>
	<div class="desc">Características del corte ...</div>
</div>

<div class="img">
	<a target="_blank" href="img_lights.jpg">
		<img src="images/corte1.jpg" alt="Northern Lights" width="600" height="400">
	</a>
	<div class="desc">Características del corte ...</div>
</div>

<div class="img">
	<a target="_blank" href="img_mountains.jpg">
		<img src="images/corte2.jpg" alt="Mountains" width="600" height="400">
	</a>
	<div class="desc">Características del corte ...</div>
</div>

<div class="img">
	<a target="_blank" href="img_mountains.jpg">
		<img src="images/corte3.jpg" alt="Mountains" width="600" height="400">
	</a>
	<div class="desc">Características del corte ...</div>
</div>

<div class="img">
	<a target="_blank" href="img_mountains.jpg">
		<img src="images/corte4.jpg" alt="Mountains" width="600" height="400">
	</a>
	<div class="desc">Características del corte ...</div>
</div>
<div class="img">
	<a target="_blank" href="img_mountains.jpg">
		<img src="images/corte6.jpg" alt="Mountains" width="600" height="400">
	</a>
	<div class="desc">Características del corte ...</div>
	<br>
</div>

<div style="padding-left: 48%;" class="offset-sm-2 col-sm-10">
<button type="submit" class="btn btn-primary">Añadir</button>
</div>