<link rel="stylesheet" type="text/css" href="css/estilistas.css">
<br><h1 align="center">Horarios registrados</h1>
<br>
<% @schedules.each do |schedule| %>
<div align="center">
	<div class="panel panel-default">
		<div class="panel-heading"><h3 class="panel-title"><small>Horario registrado </small><span class="pull-right"></span></span></h3></div>
		<div class="panel-body">
			El día <%= schedule.fecha %> tiene disponibilidad a las <%= x = '%02d' % (schedule.hora_inicio.hour) %>:<%= x = '%02d' % (schedule.hora_inicio.min) %>
		</div>
	</div>

</div>
<% end %>