<ul>
  <li><a class="active" href="estilistas/perfilest">Perfil</a></li>
  <li><a href="estilistas/cortesest">Cortes</a></li>
  <li><a href="estilistas/agendaest">Agenda</a></li>
  <li><a href="estilistas/citaspest">Citas pendientes</a></li>
  <li class="dropdown">
    <a class="dropbtn">Experiencias</a>
    <div class="dropdown-content">
      <a href="estilistas/pubexpest">Publicar experiencia</a>
      <a href="estilistas/verexpest">Ver experiencias</a>
    </div>
  </li>
</ul>
