<link rel="stylesheet" type="text/css" href="../css/perfilest.css">
<form onSubmit="return false">
	<div class="col-2">
		<label>
			Nombre
			<input placeholder="Nombre" id="name" name="name" tabindex="1">
		</label>
	</div>
	<div class="col-2">
		<label>
			Empresa
			<input placeholder="Empresa" id="company" name="company" tabindex="2">
		</label>
	</div>

	<div class="col-3">
		<label>
			Dirección
			<input placeholder="Dirección" id="phone" name="phone" tabindex="3">
		</label>
	</div>
	<div class="col-3">
		<label>
			Teléfono fijo
			<input placeholder="Teléfono fijo" id="email" name="email" tabindex="4">
		</label>
	</div>
	<div class="col-3">
		<label>
			Teléfono móvil
			<input placeholder="Teléfono móvil" id="email" name="email" tabindex="4">
		</label>
	</div>
	<div class="col-2">
		<label>
			Correo electrónico
			<input placeholder="Correo electrónico" id="skills" name="skills" tabindex="6">
		</label>
	</div>
	<div class="col-2">
		<label>
			Especialidad
			<input placeholder="Especialidad" id="skills" name="skills" tabindex="6">
		</label>
	</div>
<!-- 	<div class="col-4">
		<label>
			Yrs Experience
			<input placeholder="How many years of experience?" id="experience" name="experience" tabindex="7">
		</label>
	</div>
	<div class="col-4">
		<label>Contact References?</label>
		<center style="position:relative; margin-bottom:8px;"><input type="checkbox" class="js-switch"></center>
	</div> -->
	<div class="col-submit">
		<button class="submitbtn">Editar</button>
	</form>

