<script src="bower_components/es6-promise/es6-promise.auto.min.js"></script>
<script src="bower_components/sweetalert2/dist/sweetalert2.min.js"></script>
<script src="scripts/alertas.js"></script>
<link rel="stylesheet" href="bower_components/sweetalert2/dist/sweetalert2.min.css">
        <style>
                .container{
                        width: 70%;
                        text-align: left;
                }
                .alinear{
                        text-align:center;
                        margin:auto;
                }
        </style>
<br>
<h1 align="center">Perfil</h1>

				<div class="form-group row">
					<div style="padding-left: 48%;" class="offset-sm-2 col-sm-10">
						<button type="submit" class="btn btn-primary" onclick="alertas(0)" >Editar</button>
					</div>
				</div>
		<% end %>
	</div>
</div>
<%= render "perfilform" %>

