<link rel="stylesheet" type="text/css" href="../css/welcome/contact.css">
<link rel="stylesheet" type="text/css" href="../css/buttons.css"/>
<br>
<h1 align="center">Perfil</h1>
<div align="center"><img src="images/estilista3.jpg" width="150" height="145"></div>
<form class="form-style-9">
<ul>
<li>
    <input type="text" name="field1" class="field-style field-split align-left" placeholder="Nombre" />
    <input type="text" name="field2" class="field-style field-split align-right" placeholder="Apellido" />

</li>
<li>
    <input type="text" name="field3" class="field-style field-split align-left" placeholder="Fecha de nacimiento" />
    <input type="text" name="field4" class="field-style field-split align-right" placeholder="Teléfono fijo" />
</li>
<li>
    <input type="text" name="field3" class="field-style field-split align-left" placeholder="Teléfono móvil" />
    <input type="email" name="field4" class="field-style field-split align-right" placeholder="Correo electrónico" />
</li>
<li>
<br>
<div align="center"><input type="submit" value="Editar" class="myButton"/></div>
</li>
</ul>
</form>


