<link rel="stylesheet" type="text/css" href="../css/estilistas/pubexpest.css">
<br><br>
<form action="" method="post" class="basic-grey">
	<label>
		<span>Fecha</span>
		<input id="name" type="text" name="name" placeholder="Fecha" />
	</label>

	<label>
		<span>Autor</span>
		<input id="email" type="email" name="email" placeholder="Autor" />
	</label>
	<label>
		<span>Foto</span>
		<input id="email" type="email" name="email" placeholder="Adjunta una foto" />
	</select>
</label>  
<label>
	<span>Relato</span>
	<textarea id="message" name="message" placeholder="Escribe tu experiencia"></textarea>
</label>   
<label>
	<span>&nbsp;</span> 
	<input type="button" class="button" value="Enviar" /> 
</label>    
</form>