<link rel="stylesheet" type="text/css" href="../css/estilistas/verexpest.css">
<br>
<div align="left" class="img"><a target="_blank">
    <div align="center" class="foto">
        <br>
        <img align="center" src="images/corte1.jpg">
    </div>
    <div align="left" class="comentario">
        <br>
        <b>Fecha:</b>
        18/10/2016
        <br>
        <br>
        <b>Autor:</b>
        Jorge Vásquez
        <br>
        <br>
        <b>Relato:</b>
        El autor lamenta la pérdida del glamour en el panorama cinematográfico actual, como consecuencia de la repetición de estereotipos vulgares que imitan, sin imaginación ni encanto, los esquemas de la vida real.
        <br>
        <br>
    </div>
</div>

<div align="left" class="img"><a target="_blank">
    <div align="right" class="foto">
        <br>
        <img align="right" src="images/corte2.jpg">
    </div>
    <div align="left" class="comentario">
        <br>
        <b>Fecha:</b>
        18/10/2016
        <br>
        <br>
        <b>Autor:</b>
        Camilo Sierra
        <br>
        <br>
        <b>Relato:</b>
        El autor lamenta la pérdida del glamour en el panorama cinematográfico actual, como consecuencia de la repetición de estereotipos vulgares que imitan, sin imaginación ni encanto, sin nada de eso.
        <br>
        <br>
    </div>
</div>

<div align="left" class="img"><a target="_blank">
    <div align="center" class="foto">
        <br>
        <img align="center" src="images/corte3.jpg">
    </div>
    <div align="left" class="comentario">
        <br>
        <b>Fecha:</b>
        18/10/2016
        <br>
        <br>
        <b>Autor:</b>
        Cesar Zapata
        <br>
        <br>
        <b>Relato:</b>
        El autor lamenta la pérdida del glamour en el panorama cinematográfico actual, como consecuencia de la repetición de estereotipos vulgares que imitan.
        <br>
        <br>
    </div>
</div>

<div align="left" class="img"><a target="_blank">
    <div align="center" class="foto">
        <br>
        <img align="center" src="images/corte4.jpg">
    </div>
    <div align="left" class="comentario">
        <br>
        <b>Fecha:</b>
        18/10/2016
        <br>
        <br>
        <b>Autor:</b>
        Juan Rodriguez
        <br>
        <br>
        <b>Relato:</b>
        El autor lamenta la pérdida del glamour, como consecuencia de la repetición de estereotipos vulgares que imitan, sin imaginación ni encanto, los esquemas de la vida.
        <br>
        <br>
    </div>
</div>