<style>
    .container{
        width: 70%;
        text-align: left;
    }
    .alinear{
        text-align:center;
        margin:auto;
    }
</style>
<link rel="stylesheet" type="text/css" href="css/clientes/clientes_experiencias.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<br>
<h1 align="center">Experiencias</h1>
<div class="img"><a target="_blank">
    <div class="foto">
        <br>
        <img src="images/corte1.jpg">
    </div>
    <div class="comentario">
        <br>
        <b>Fecha:</b>
        18/10/2016
        <br>
        <br>
        <b>Autor:</b>
        Jorge Vásquez
        <br>
        <br>
        <b>Relato:</b>
        El autor lamenta la pérdida del glamour en el panorama cinematográfico actual, como consecuencia de la repetición de estereotipos vulgares que imitan, sin imaginación ni encanto, los esquemas de la vida real.
        <br>
        <br>
    </div>
</div>

<div class="img"><a target="_blank">
    <div class="foto">
        <br>
        <img src="images/corte2.jpg">
    </div>
    <div class="comentario">
        <br>
        <b>Fecha:</b>
        18/10/2016
        <br>
        <br>
        <b>Autor:</b>
        Camilo Sierra
        <br>
        <br>
        <b>Relato:</b>
        El autor lamenta la pérdida del glamour en el panorama cinematográfico actual, como consecuencia de la repetición de estereotipos vulgares que imitan, sin imaginación ni encanto, sin nada de eso.
        <br>
        <br>
    </div>
</div>

<div class="img"><a target="_blank">
    <div class="foto">
        <br>
        <img src="images/corte3.jpg">
    </div>
    <div class="comentario">
        <br>
        <b>Fecha:</b>
        18/10/2016
        <br>
        <br>
        <b>Autor:</b>
        Cesar Zapata
        <br>
        <br>
        <b>Relato:</b>
        El autor lamenta la pérdida del glamour en el panorama cinematográfico actual, como consecuencia de la repetición de estereotipos vulgares que imitan.
        <br>
        <br>
    </div>
</div>

<div class="img"><a target="_blank">
    <div class="foto">
        <br>
        <img src="images/corte4.jpg">
    </div>
    <div class="comentario">
        <br>
        <b>Fecha:</b>
        18/10/2016
        <br>
        <br>
        <b>Autor:</b>
        Juan Rodriguez
        <br>
        <br>
        <b>Relato:</b>
        El autor lamenta la pérdida del glamour, como consecuencia de la repetición de estereotipos vulgares que imitan, sin imaginación ni encanto, los esquemas de la vida.
        <br>
        <br>
    </div>
</div>

<div class="container">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Nueva experiencia</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Nueva experiencia</h4>
      </div>
      <div class="modal-body">
          <div align="center">
            <div class="container">
                <div class="form-group row">
                    <label for="fecha" class="col-sm-2 col-form-label">Fecha</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" name="fecha" id="fecha" placeholder="Introduce la fecha">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="autor" class="col-sm-2 col-form-label">Autor</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="autor" id="autor" placeholder="Introduce el nombre del autor"> 
                    </div>
                </div>
                <div class="form-group row">
                    <label for="mensaje" class="col-sm-2 col-form-label">Mensaje</label>
                    <div class="col-sm-10">
                        <textarea type="text" class="form-control" name="autor" id="autor" placeholder="Introduce tu relato"></textarea> 
                    </div>
                </div>
                <div class="form-group row">
                <label for="foto" class="col-sm-2 col-form-label">Foto (opcional)</label>
                <div class="col-sm-10">
                <label class="btn btn-default btn-file">
                    Adjuntar<input type="file" style="display: none;">
                </label>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Guardar</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
  </div>
</div>

</div>
</div>