<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Estilistas de Corazón</title>
	<meta name="description" content="">
	<meta name="author" content="Codrops" />
	<link rel="shortcut icon" href="../logo.ico"> 
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="css/navigation-icons.css">
	<link rel="stylesheet" href="css/slicknav/slicknav.min.css">
	<link rel="stylesheet" href="css/default.css">
	<link rel="stylesheet" href="maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>

<body>
	<div class="container"> 
		<header>
			<div><a href="/mainest"><img class="img-responsive" src="images/logo.PNG" width="150" height="145"></a></div>
			<h1 align="center">Estilistas de Corazón</h1>   
		</header>
	</div><br>

	<nav class="menu-navigation-icons">
		<a href="/mainest" class="menu-magenta"><i class="fa fa-home"></i><span>Inicio</span>
			<a href="/perfilest" class="menu-blue"><i class="fa fa-user"></i><span>Perfil</span></a>
			<a href="/cortesest" class="menu-green"><i class="fa fa-scissors"></i><span>Cortes</span></a>
			<a href="/citaspest" class="menu-yellow"><i class="fa fa-inbox"></i><span>Citas</span></a>
			<a href="/agendaest" class="menu-blue"><i class="fa fa-calendar"></i><span>Agenda</span></a>
			<a href="/verexpest" class="menu-green"><i class="fa fa-comment"></i><span>Experiencias</span></a>
			<a href="/main" class="menu-red"><i class="fa fa-remove"></i><span>Salir</span></a>
		</nav>

		<script src="ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="scripts/jquery.slicknav.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<script>
			$(function(){
				$('.menu-navigation-icons').slicknav();
			});
		</script>

	</body>

</head>

<body>
	<%= yield %>


</body>
</html>